@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
html, body {
    box-sizing: border-box;
    /*margin: 0;*/
    height: 100%;
    width: 100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#container{
    min-height: 100%;
}
#main{
    overflow: auto;
    padding-bottom: 100px;
}

header{
    height: 255px;
    width: 100%;
}
.banner{
    width: 100%;
    display: block;
    height: 255px;
}
/* The navbar container */

.topnav {
    overflow: hidden;
    background-color: #00B2EE;
}


/* Navbar links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1.5px solid #1874CD;
}
.topnav a:last-child {
    border-right: none;
}

/* Links - change color on hover */

.topnav a:hover {
    background-color: #00BFFF;
    color: black;
}

.heading1{
    text-shadow: 3px 2px #00BFFF;
    height: 30px;
    text-transform: uppercase;
}
.heading1, p, form{
    padding: 5px;
    margin: 10px;
}

#footer {
    background-color: #00B2EE;
    color: white;
    height: 25px;
    margin-top: -25px;
    position: relative;
    clear: both;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    width: 100%;

}
#footer p {
    margin: 0 10px 0 0;
}